---
import '../styles/styles.css'
import MainLayout from '../layouts/MainLayout.astro'
import Card from '../Components/Card.astro';


const title = "Tutorial Astro Project";
let newSum = 4 + 5;


const happy = true;
const finished = false;
const goal = 3;
---



<MainLayout>
	<div>
		<h1 class="text-center text-2xl">TEST</h1>
		<h1 class="text-center text-2xl">TEST</h1>
		<h1 class="text-center text-2xl">TEST</h1>
		<h1 class="text-center text-2xl">TEST</h1>
		<h1 class="text-center text-2xl">TEST</h1>
		<h1 class="text-center text-2xl">TEST</h1>
		<h1 class="text-center text-2xl">TEST</h1>
	</div>
	<div class="gridwrapper mx-8 my-8">
		<div class="grid lg:grid-cols-3 lg:grid-rows-3 md:grid-cols-2 md:grid-rows-2"> 
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
			<Card title="Asset Designer" location="ACT" rfqdate="12/12/12" contract="12 Month" department="DFAT" url="https://www.youtube.com/"/>
		</div>
	</div class="gridwrapper">
</MainLayout>


